* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'PhlattGrotesk-Regular', sans-serif;
}

html {
    height: 100vh;
    overflow: hidden;
}

/*
@media (max-width: 768px) {
    body {
        display: none;
    }

    #mobile-message {
        display: block;
    }
}

#mobile-message {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #312e31;
    color: #fff;
    padding: 20px;
    text-align: center;
}
*/

body {
    position: relative;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    margin: 0;
    background-image: url("images/cool_bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    perspective: 1px;
    transform-style: preserve-3d;
    overflow-x: hidden;
    overflow-y: scroll;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 9999;
}

.logo {
    margin-left: -75px;
    font-size: 1.5em;
    color: #fff;
    user-select: none;
}

.navigation a {
    position: relative;
    font-size: 1.1em;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;
}

.navigation a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: #fff;
    border-radius: 5px;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .5s;
}

.navigation a:hover:after {
    transform-origin: left;
    transform: scaleX(1);
}

main {
    position: relative;
    height: 100vh;
    width: 100vw;
}

.bg-text {
    top: 35%;
    left: 50%;
    font-size: 2.3vw;
    color: #fff;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3), 5px 5px 70px rgba(255, 255, 255, 0.5);
    transform: scale(1, 1.1) translate(-50%, 10%);

    position: absolute;
    width: 100%;
    z-index: 5;
    text-align: center;
}
